<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrio BI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

    <div class="logout-container">
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>

    <div class="container">
        <h1>Escolha o Dashboard</h1>

        <div class="button-container">
            {% for rep in reps %}
                <a href="/{{ rep }}" class="button">{{ rep }}</a>
            {% endfor %}
        </div>
    </div>

</body>
</html>
